
:root{
    --orange:#fe7202;
}


body{
    margin:0
}

main{
    background-image: url(../photo/11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    padding-bottom: 100px;
}

.container{
    width:90%;
    margin:auto
}

.content{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:70px;
}
button {
    background-color: var(--orange);
    color:white;
    border:none;
    border-radius: 15px;
    padding: 10px 15px;
    cursor: pointer;
}